body {
  margin: 0px;
}
* {
  box-sizing: border-box;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  min-height: 100vh;
  padding: 24px;
}
.app-container {
  text-align: center;
  border-radius: 12px;
  padding: 24px;
}
.dark-mode {
  color: #ffffff;
  background-color: #000000;
}
.light-mode {
  color: #000000;
  background-color: #ffffff;
  border: 1px solid #000000;
}
.heading {
  font-family: 'Roboto';
  font-size: 32px;
}

.button {
  border: none;
  font-size: 16px;
  padding: 16px;
  border-radius: 8px;
}
